@use '../utils/' as u;
@use '../utils/mixins' as *;

.right-bloc{
    .search_area{
        @include display-flex;
        justify-content: space-between;
    }
    .new{
        a{
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            border-radius: 5px;
            color: var(--yellow);
            font-family: u.$font-Monserat;
            background-color: var(--deepgreen);
        }
    }
}